@model IList<StudentManagement.Domain.Entities.Student>
@{
    Layout = null;
}
<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/Content/Students.css" />
</head>
<body>
    <table class="student-table">
        <tr>
            <th>
                @Html.DisplayNameFor(x => Model.FirstOrDefault().FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(x => Model.FirstOrDefault().LastName)
            </th>
            <th>
                @Html.DisplayNameFor(x => Model.FirstOrDefault().Address)
            </th>
        </tr>
        @foreach (var student in Model)
            {
            <tr>
                <td class="student-element">
                    @Html.DisplayFor(x => student.FirstName)
                </td>
                <td class="student-element">
                    @Html.DisplayFor(x => student.LastName)
                </td>
                <td class="student-element">
                    <p>Line 1:-   @Html.DisplayFor(x => student.Address.Line1)</p>
                    <p>Line 2:-   @Html.DisplayFor(x => student.Address.Line2)</p>
                    <p>City:-   @Html.DisplayFor(x => student.Address.City)</p>
                    <p>PinCode:-   @Html.DisplayFor(x => student.Address.PinCode)</p>

                    @*@foreach (var address in student.Address)
                    {
                        <p>Line 1:-   @Html.DisplayFor(x => address.Line1)</p>
                        <p>Line 2:-   @Html.DisplayFor(x => address.Line2)</p>
                        <p>City:-   @Html.DisplayFor(x => address.City)</p>
                        <p>PinCode:-   @Html.DisplayFor(x => address.PinCode)</p>
                    }*@
                </td>
                <td class="student-element">
                        @Html.ActionLink("Edit", "EditStudent", new { id = student.Id }) |
                        @Html.ActionLink("Add", "AddStudent") |
                        @Html.ActionLink("Delete", "DeleteStudent", new { id = student.Id })
                </td>
            </tr>
        }
    </table>
</body>
</html>
